<h1 class="display-1">Coach's answer</h1>

<br />

<div class="blockquote">
  <h2>Your question was:</h2>
  <p class="blockquote-footer"><%= @question %></p>
</div>

<br />

<div class="blockquote">
  <h2>The coach's answer is:</h2>
  <p class="blockquote-footer"><%= @answer %></p>
</div>

<br />

<%= link_to "Ask a new question", ask_path %>
